Source: libpve-guest-common-perl
Section: perl
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper (>= 10~),
               perl (>= 5.10.0-19),
Standards-Version: 3.9.8
Homepage: http://www.proxmox.com

Package: libpve-guest-common-perl
Architecture: all
Depends: libpve-common-perl (>= 4.0-89),
         libpve-storage-perl (>= 5.0-16),
         pve-cluster,
         ${misc:Depends},
         ${perl:Depends},
Breaks: libpve-common-perl (<< 4.0-89),
        pve-manager (<< 5.1-40),
        qemu-server (<< 5.0-35),
Replaces: libpve-common-perl (<< 4.0-89),
          pve-manager (<< 4.4-10),
Description: Proxmox VE common guest-related modules
 This package contains a common code base used by
 pve-container and qemu-server.
