Source: libpve-guest-common-perl
Section: perl
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper (>= 12~),
               libpve-cluster-perl,
               libpve-common-perl,
               libpve-storage-perl (>= 7.2-6),
               pve-cluster,
Standards-Version: 4.5.1
Homepage: https://www.proxmox.com

Package: libpve-guest-common-perl
Architecture: all
Depends: libpve-cluster-perl,
         libpve-common-perl (>= 7.2-6),
         libpve-storage-perl (>= 7.0-14),
         pve-cluster,
         proxmox-websocket-tunnel,
         ${misc:Depends},
         ${perl:Depends},
Breaks: libpve-common-perl (<< 4.0-89),
        pve-container (<< 3.1-4),
        pve-manager (<< 6.0-10),
        qemu-server (<< 6.1-19),
Replaces: libpve-common-perl (<< 4.0-89),
          pve-manager (<< 4.4-10),
Description: Proxmox VE common guest-related modules
 This package contains a common code base for Proxmox VE guests. It is mainly
 used by pve-container and qemu-server.
